# Read data from Text files

In [2]:
# os library to list directory and files from specific path
import os

In [3]:
# this file is in same directory of jupyter notebook file
text_file_path = 'simple.txt'

In [4]:
# check file is available or not
os.path.isfile(text_file_path) # true -> file is available on that file

True

In [5]:
# create file object for read purpose from text_file_path
text_file = open(text_file_path, 'r')
line = text_file.readline()
print(line)
text_file.close() # close file to freeup memory

this is simple text file for demo of import data from text file into python program.

In [6]:
print(line)

this is simple text file for demo of import data from text file into python program.

In [8]:
# alternate way to not to worry about close file
with open(text_file_path, 'r') as f:
    line_1 = f.readline()
# automatic close when comes out from hierarchy
print(line_1)

this is simple text file for demo of import data from text file into python program.

# Read data from excel or csv file

In [9]:
csv_file_path = 'tennis.csv'

In [10]:
os.path.isfile(csv_file_path)

True

In [11]:
# pandas libray for read csv (alt csv) file and data analysis 
import pandas as pd

In [12]:
# create data frame object from csv file
# with series and heading
df_tennis = pd.read_csv(csv_file_path)

In [13]:
# dimensions of csv file
df_tennis.shape

(14, 6)

In [14]:
# insight of data till 5 columns
df_tennis.head()
# head -> first -> 5 row/data points
# tail -> last -> 5 row/data points

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [15]:
# columns headers
df_tennis.columns

Index(['day', 'outlook', 'temp', 'humidity', 'wind', 'play'], dtype='object')

In [24]:
# read first row and all columns
df_tennis.iloc[:1]

  day outlook temp humidity  wind play
0  D1   Sunny  Hot     High  Weak   No